<footer class="bg-light text-center text-lg-start">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Group Info</h5>
                <p>Group Number: #127</p>
                <p>Members:</p>
                <ul>
                    <li>Jonathan Seltzer (101124255)</li>
                    <li>Said Mohamed (100997363)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Assignment 1
    </div>
</footer>
